<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>TFaL Login</title>
  <link rel="shortcut icon" href="/assets/img/player.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <a href="/game"><img id="logo" src="/assets/img/player.png" alt="TFaL logo"/></a>
    <div class="navlink"><a href="/game">Play</a></div>
    <div class="navlink"><a href="/scoreboard">Leaderboard</a></div>
    <div class="navlink"><a href="/login">Account</a></div>
  </nav>
  <section id="changePass">
    <form id="changePassForm" name="changePassForm" action="/changePassword" method="POST" class="mainForm">
      <label for="pass">New Password: </label>
      <input id="pass" type="password" name="pass" placeholder="password"/>
      <label for="pass2">New Password: </label>
      <input id="pass2" type="password" name="pass2" placeholder="retype password"/>
      <input class="formSubmit marginedSubmit" type="submit" value="Confirm" />
    </form>
  </section>
  <div id="errorMessageContainer" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
</body>
</html>