{{!-- <html lang="en">

<head>
  <meta charset="utf-8" />
  <title>DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo" /></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/scoreboard">Leaderboard</a></div>
  </nav>

  <section id="app">

  </section>

  <div id="domoMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box" />
    <h3><span id="errorMessage"></span></h3>
    <img id="domo" src="assets/img/domo.png" alt="domo" />
  </div>
  <script src="/assets/appBundle.js"></script>
</body>

</html> --}}

<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>The Floor is (almost) Lava!</title>
  <link rel="stylesheet" href="/assets/style.css">

  <!-- External libraries -->
  <script src="https://pixijs.download/release/pixi.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>

  <!-- My JS files -->
  <script src="js/utilities.js"></script>
  <script src="js/classes.js"></script>
  <script src="js/main.js"></script>
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo" /></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/scoreboard">Leaderboard</a></div>
  </nav>

  <div id="titleBar"></div>
  <div id="gameContainer">
    <div id="gameArea">
    </div>
  </div>

  <div id="domoMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box" />
    <h3><span id="errorMessage"></span></h3>
    <img id="domo" src="assets/img/domo.png" alt="domo" />
  </div>
  <script src="/assets/gameBundle.js"></script>
</body>

</html>