<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>The Floor is (almost) Lava!</title>
  <link rel="shortcut icon" href="/assets/img/player.png" />
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
  <nav>
    <a href="/game"><img id="logo" src="/assets/img/player.png" alt="The Floor is (almost) Lava logo" /></a>
    <div class="navlink"><a href="/game">Play</a></div>
    <div class="navlink"><a href="/scoreboard">Leaderboard</a></div>
    <div class="navlink"><a href="/login">Account</a></div>
  </nav>

  <div id="titleBar"></div>
  <div id="submitContainer"></div>
  <div id="gameContainer">
    <div id="gameArea">
    </div>
  </div>

  <script src="/assets/gameBundle.js"></script>
</body>

</html>