html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(28, 28, 28);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo {
    height: 60px;
    width: 60px;
    float:left;
    border-radius: 8px;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #ff7b00;
}

nav:nth-child(1) {
    padding-left: 15px;
}

.navlink {
    padding: 5px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #ff7b00;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #ff5e00;
}

.mainForm {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    font-size: 1.2em;
    background-color: #ff7b00;
    border-radius: 2px;
    border-color: black;
    color: white;
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #ff5e00;
}

#user, #pass, #pass2, label{
    text-align: center;
    font-size: 1.2em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #ff5e00;
}

.hidden {
    display: none;
}

#errorMessageContainer {
    text-align: center;
}

#errorMessage {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    text-align: center;
}

#gameContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

#submitContainer, .formContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

#manualScoreSubmit{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 500px;
    margin-left: 10%;
    margin-right: 10%;
}

.inlineBlock{
    display: inline-block;
}

.marginedSubmit{
    margin-top: 3px;
}

.scoreList{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.scoreNode{
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    width: 600px;
    border-radius: 4px;
    background-color: #707070;
}

.lbUsername{
    margin: 1rem;
    text-align: left;
}

.lbScore{
    margin: 1rem;
    text-align: right;
}

#profileDisplay{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 4px;
}

.profileDisplayContainer{
    width: 100%;
    display: flex;
    justify-content: left;
}

#colorPicker{
    margin-left: .5rem;
    margin-bottom: 0;
}
